<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269862302499-ts0mdt7tma0ttqrga0s8hb693c8dntik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269862302499-ts0mdt7tma0ttqrga0s8hb693c8dntik</string>
	<key>API_KEY</key>
	<string>AIzaSyD4LoXPIiCJCwzX9tgYqTMMv2ueMg_QETw</string>
	<key>GCM_SENDER_ID</key>
	<string>269862302499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wyyeoh.PlantApp-UIKit</string>
	<key>PROJECT_ID</key>
	<string>plantapp-5d446</string>
	<key>STORAGE_BUCKET</key>
	<string>plantapp-5d446.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269862302499:ios:ad5a58f1f3ba8b1715d296</string>
</dict>
</plist>